.app {
  margin: 0 auto;
}

h1 {
  text-align: center;
}


button {
  padding: 5px 10px;
  margin-left: 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%; /* Add this line */
}

li span {
  flex-basis: 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  margin-right: 20px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4285f4;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 40px;
  padding: 5px 10px;
  font-size: 14px; /* make the button text extremely small */
}
input[type='text'] {
  flex-basis: 0;
  padding: 5px;
  font-size: 30px;
  height: 100px; /* Increase the height */
  width: 60%; /* Increase the width */
}
