input[type='text'] {
  padding: 5px;
  font-size: 30px;
  height: 30%; /* Increase the height */
  width: 80%; /* Increase the width */
}
button {
  padding: 5px 10px;
  margin-left: 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-right: 0;
  width: 100%; 
}

li {
  margin-bottom: 20px;
  width: 100%; /* Add this line */
}


.completed {
  text-decoration: line-through;
  color: gray;
}

form {
  position: fixed;
  bottom: 0;
  left: 0;
}
.inputtextbox
{
  padding: 5px;
  font-size: 16px;
  height: 30%; /* Increase the height */
  width: 55%; /* Increase the width */
  margin-left: 10px;
}
.addbutton {
  background-color:green;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  height: 30%; /* Increase the height */
  width: 10%; /* Increase the width */
}

button {
  background-color: #4285f4;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 16px; /* make the button text extremely small */
}

.signoutbutton {
  background-color: orange;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 120px;
  padding: 5px 10px;
  font-size: 16px; /* make the button text extremely small */
}

.textbutton {
  background-color: grey;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 16px; /* make the button text extremely small */
}

.markcompletebutton {
  background-color: darkcyan;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px 10px;
  font-size: 16px; /* make the button text extremely small */
}
.showcompletedbutton {
  background-color: rgb(239, 216, 14);
  border: none;
  color: black;
  cursor: pointer;
  margin-bottom: 80px;
  padding: 10px 10px;
  font-size: 16px; /* make the button text extremely small */
}
